pipeline/01_GetMultipleCSVfiles_Poc.json
{
	"name": "01_GetMultipleCSVfiles_Poc",
	"properties": {
		"activities": [
			{
				"name": "Get_FileNameList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Adobe_Sink_ADLS_2",
						"type": "DatasetReference",
						"parameters": {
							"SrcPath": {
								"value": "@pipeline().parameters.SrcPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_FileNameList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_FileNameList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Adobe_ADLS_Source_Staging",
									"type": "DatasetReference",
									"parameters": {
										"SrcPath": {
											"value": "@concat('load','/','staging','/',pipeline().parameters.SrcPath,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Adobe_Sink_ADLS_Raw",
									"type": "DatasetReference",
									"parameters": {
										"raw_path": {
											"value": "@concat('load','/','staging3','/',substring(item().name,0,indexof(item().name,'.' )))",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(substring(item().name,0,indexOf(item().name,'.')),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SrcPath": {
				"type": "string"
			}
		},
		"folder": {
			"name": "BurtTest/CopySFTP"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-30T13:10:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}