pipeline/metadata_sp_sample.json
{
	"name": "metadata_sp_sample",
	"properties": {
		"activities": [
			{
				"name": "list_sp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select sp_schema, sp_name\nfrom dbo.stored_proc_master",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": "dbo",
							"tbl_name": "stored_proc_master"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list_sp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list_sp').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(item().sp_schema,'.',item().sp_name)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SYN",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Non-Prod testing and POC only"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-15T15:14:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}