pipeline/PL_14_File_Space_FTPFullLoad.json
{
	"name": "PL_14_File_Space_FTPFullLoad",
	"properties": {
		"activities": [
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupLastRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastRefresh",
					"value": {
						"value": "@activity('LookupLastRefresh').output.FirstRow.LastRefresh",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupLastRefresh",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[sps_LookupFwkWatermarkPrecon]",
						"storedProcedureParameters": {
							"SrcCompObject": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.FwkItem['SrcCompObject']",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": "sch_name",
							"tbl_name": "tbl_name"
						}
					}
				}
			},
			{
				"name": "Copy file and remove space in header",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SFTP_Source_space",
						"type": "DatasetReference",
						"parameters": {
							"Path": "@pipeline().parameters.FwkItem['SrcCompPath']",
							"Object": "@pipeline().parameters.FwkItem['SrcCompObject']"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SFTP_ADLS_Sink_space",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.FwkItem['SinkContainer']",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.FwkItem['SinkMergeDirectory']",
								"type": "Expression"
							},
							"Object": {
								"value": "@pipeline().parameters.FwkItem['SrcObject']",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Remove_space_in_header_SFTP",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy file and remove space in header",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Data Ingestion/Remove_space_in_header_SFTP",
					"baseParameters": {
						"Container": {
							"value": "@pipeline().parameters.FwkItem['SinkContainer']",
							"type": "Expression"
						},
						"Directory": {
							"value": "@pipeline().parameters.FwkItem['SinkMergeDirectory']",
							"type": "Expression"
						},
						"Object": {
							"value": "@pipeline().parameters.FwkItem['SrcObject']",
							"type": "Expression"
						},
						"Output_Path": {
							"value": "@pipeline().parameters.FwkItem['SinkOutputDirectory']",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FwkItem": {
				"type": "array"
			},
			"PL_01TriggerTime": {
				"type": "string"
			},
			"FwkLogId": {
				"type": "string"
			},
			"EntRunId": {
				"type": "string"
			},
			"SrcPath": {
				"type": "string"
			},
			"SrcObject": {
				"type": "string"
			}
		},
		"variables": {
			"LastRefresh": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01 Ingestion Module/PL_14_File_Space_FTPFullLoad"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-06T06:59:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}