pipeline/PL_14_FTP_LoadFtp2Loading_ADLS.json
{
	"name": "PL_14_FTP_LoadFtp2Loading_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Get Ftp File into Loading",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Adobe_FTP_Binary_Source",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "@pipeline().parameters.SrcCompPath",
								"type": "Expression"
							},
							"Object": {
								"value": "@pipeline().parameters.SrcCompObject",
								"type": "Expression"
							},
							"CompressionType": {
								"value": "@pipeline().parameters.CompressionType",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Adobe_ADLS_Binary_Sink",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.SinkContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SinkDirectory",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get File Name list",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get Ftp File into Loading",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Adobe_ADLS_Binary_Sink",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.SinkContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@concat(pipeline().parameters.SinkDirectory,'/',pipeline().parameters.SrcCompObject)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File Name list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File Name list').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy file to staging_merged folder",
							"description": "Merge two versions of file.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true
							},
							"inputs": [
								{
									"referenceName": "DS_Adobe_ADLS_CSV_Source",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.SinkContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@concat(pipeline().parameters.SinkDirectory,'/',pipeline().parameters.SrcCompObject)",
											"type": "Expression"
										},
										"Object": {
											"value": "@item().name",
											"type": "Expression"
										},
										"ColDelimiter": {
											"value": "@pipeline().parameters.ColDelimiter",
											"type": "Expression"
										},
										"RowDelimiter": {
											"value": "@pipeline().parameters.RowDelimiter",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Adobe_ADLS_CSV_Sink",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.SinkContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.SinkMergeDirectory",
											"type": "Expression"
										},
										"Object": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SrcCompPath": {
				"type": "string",
				"defaultValue": "/home/sqoop/adobe/ph_adobe_allsites"
			},
			"SrcCompObject": {
				"type": "string",
				"defaultValue": "@concat('manufin-manulifecomph-prod_',adddays(formatDateTime(utcnow(),'yyyy-MM-dd'),-1),'.zip')"
			},
			"CompressionType": {
				"type": "string",
				"defaultValue": "ZipDeflate"
			},
			"SinkContainer": {
				"type": "string",
				"defaultValue": "dev"
			},
			"SinkDirectory": {
				"type": "string",
				"defaultValue": "Staging/Loading"
			},
			"EntRunId": {
				"type": "string"
			},
			"TriggerName": {
				"type": "string"
			},
			"TriggerTime": {
				"type": "string"
			},
			"ColDelimiter": {
				"type": "string",
				"defaultValue": "\\t"
			},
			"RowDelimiter": {
				"type": "string",
				"defaultValue": null
			},
			"SinkMergeDirectory": {
				"type": "string",
				"defaultValue": "Staging/Merged"
			}
		},
		"folder": {
			"name": "01 Ingestion Module/PL_15_FTP_CompMultiFile_Load_Adobe"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-20T04:54:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}