pipeline/PL_14_ADLSDeltaLoad_test1.json
{
	"name": "PL_14_ADLSDeltaLoad_test1",
	"properties": {
		"activities": [
			{
				"name": "If is Delta Load",
				"description": "Evaluates the ‘LoadType’ and go in case it matches.",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.FwkItem['TypeLoad'], 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delta load Copy into Landing",
							"description": "Copy a table from a database to the configurated Sink dynamically taking by input FwkItem, SrcPath.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "LastUpdate",
											"value": {
												"value": "@formatDateTime(pipeline().parameters.PL_01TriggerTime)",
												"type": "Expression"
											}
										},
										{
											"name": "CreatedBy",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": {
											"value": "@pipeline().parameters.FwkItem['MaxConcurrency']",
											"type": "Expression"
										},
										"blockSizeInMB": {
											"value": "@pipeline().parameters.FwkItem['BlockSize']",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": {
									"value": "@pipeline().parameters.FwkItem['DegreeOfParallelism']",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Adobe_Sink_ADLS_3",
									"type": "DatasetReference",
									"parameters": {
										"SrcObject": {
											"value": "@concat(pipeline().parameters.SrcObject,'.tsv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PRQ_Sink",
									"type": "DatasetReference",
									"parameters": {
										"FwkItem": {
											"value": "@pipeline().parameters.FwkItem",
											"type": "Expression"
										},
										"pipelineTriggerTime": {
											"value": "@pipeline().parameters.PL_01TriggerTime",
											"type": "Expression"
										},
										"FullPath": {
											"value": "@CONCAT('Raw', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Full', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/', if(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'YY'), formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'MM'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM')),\n\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'DD'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd')),\n\t\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'HH'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH')), '')))), \n'/', toUpper(pipeline().parameters.FwkItem['SchemaName']),\n'_', toUpper(pipeline().parameters.SrcObject),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'mm'),\n\t'.parquet'\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "FullLoad Copy into Published",
							"description": "Copy a table from a database to the configurated Sink dynamically taking by input FwkItem, SrcPath.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "spi_LogFwkCopyDataRowCount_Landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_PRQ_GET",
									"type": "DatasetReference",
									"parameters": {
										"FwkItem": {
											"value": "@pipeline().parameters.FwkItem",
											"type": "Expression"
										},
										"pipelineTriggerTime": {
											"value": "@pipeline().parameters.PL_01TriggerTime",
											"type": "Expression"
										},
										"FullPath": {
											"value": "@CONCAT('Raw', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Full', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/', if(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'YY'), formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'MM'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM')),\n\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'DD'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd')),\n\t\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'HH'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH')), '')))), \n'/', toUpper(pipeline().parameters.FwkItem['SchemaName']),\n'_', toUpper(pipeline().parameters.SrcObject),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'mm'),\n\t'.parquet'\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PRQ_Sink",
									"type": "DatasetReference",
									"parameters": {
										"FwkItem": {
											"value": "@pipeline().parameters.FwkItem",
											"type": "Expression"
										},
										"pipelineTriggerTime": {
											"value": "@pipeline().parameters.PL_01TriggerTime",
											"type": "Expression"
										},
										"FullPath": {
											"value": "@CONCAT('Published', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Full', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/', if(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'YY'), formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'MM'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM')),\n\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'DD'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd')),\n\t\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'HH'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH')), '')))), \n'/', toUpper(pipeline().parameters.FwkItem['SchemaName']),\n'_', toUpper(pipeline().parameters.SrcObject),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'mm'),\n\t'.parquet'\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "spi_LogFwkCopyDataRowCount_Landing",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delta load Copy into Landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spi_LogFwkCopyDataRowCount]",
								"storedProcedureParameters": {
									"SrcObject": {
										"value": {
											"value": "@pipeline().parameters.FwkItem['SrcObject']",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceType": {
										"value": {
											"value": "@{pipeline().parameters.FwkItem['SourceType']}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsReadInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsCopiedInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataReadInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.dataRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataWrittenInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"LastModifiedTime": {
										"value": {
											"value": "@formatdatetime(pipeline().parameters.PL_01TriggerTime)",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"FilePath": {
										"value": {
											"value": "@CONCAT('Raw', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Full', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/', if(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'YY'), formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'MM'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM')),\n\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'DD'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd')),\n\t\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'HH'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH')), '')))),\n'/'\n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": "FullLoad Copy into Landing",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SYN",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "spi_LogFwkCopyDataRowCount_Published",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FullLoad Copy into Published",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spi_LogFwkCopyDataRowCount]",
								"storedProcedureParameters": {
									"SrcObject": {
										"value": {
											"value": "@pipeline().parameters.FwkItem['SrcObject']",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceType": {
										"value": {
											"value": "@{pipeline().parameters.FwkItem['SourceType']}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsReadInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsCopiedInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataReadInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.dataRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataWrittenInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"LastModifiedTime": {
										"value": {
											"value": "@formatdatetime(pipeline().parameters.PL_01TriggerTime)",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"FilePath": {
										"value": {
											"value": "@CONCAT('Published', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Full', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/', if(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'YY'), formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'MM'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM')),\n\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'DD'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd')),\n\t\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'HH'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH')), '')))),\n'/'\n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": "FullLoad Copy into Published",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SYN",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "FullLoad Copy into Master",
							"description": "Copy a table from a database to the configurated Sink dynamically taking by input FwkItem, SrcPath.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "spi_LogFwkCopyDataRowCount_Landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_PRQ_GET",
									"type": "DatasetReference",
									"parameters": {
										"FwkItem": {
											"value": "@pipeline().parameters.FwkItem",
											"type": "Expression"
										},
										"pipelineTriggerTime": {
											"value": "@pipeline().parameters.PL_01TriggerTime",
											"type": "Expression"
										},
										"FullPath": {
											"value": "@CONCAT('Raw', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Full', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/', if(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'YY'), formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'MM'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM')),\n\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'DD'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd')),\n\t\t\t\tif(equals(pipeline().parameters.FwkItem['SinkPathGranularity'],'HH'), CONCAT(formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'), '/', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH')), '')))), \n'/', toUpper(pipeline().parameters.FwkItem['SchemaName']),\n'_', toUpper(pipeline().parameters.SrcObject),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'HH'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'mm'),\n\t'.parquet'\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PRQ_Sink",
									"type": "DatasetReference",
									"parameters": {
										"FwkItem": {
											"value": "@pipeline().parameters.FwkItem",
											"type": "Expression"
										},
										"pipelineTriggerTime": {
											"value": "@pipeline().parameters.PL_01TriggerTime",
											"type": "Expression"
										},
										"FullPath": {
											"value": "@CONCAT('Published', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Master', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/', toUpper(pipeline().parameters.FwkItem['SchemaName']),\n'_', toUpper(pipeline().parameters.SrcObject),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'yyyy'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'MM'),\n'_', formatDateTime(pipeline().parameters.PL_01TriggerTime,'dd'),\n   '.parquet'\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "spi_LogFwkCopyDataRowCount_Master",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FullLoad Copy into Master",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spi_LogFwkCopyDataRowCount]",
								"storedProcedureParameters": {
									"SrcObject": {
										"value": {
											"value": "@pipeline().parameters.FwkItem['SrcObject']",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceType": {
										"value": {
											"value": "@{pipeline().parameters.FwkItem['SourceType']}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsReadInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsCopiedInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataReadInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.dataRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataWrittenInt": {
										"value": {
											"value": "@activity('Delta load Copy into Landing').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"LastModifiedTime": {
										"value": {
											"value": "@formatdatetime(pipeline().parameters.PL_01TriggerTime)",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"FilePath": {
										"value": {
											"value": "@CONCAT('Published', \n'/', pipeline().parameters.FwkItem['CountryId'],\n'/Master', \n'/', pipeline().parameters.FwkItem['SystemName'],\n'/', toUpper(pipeline().parameters.SrcObject),\n'/'\n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": "FullLoad Copy into Master",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SYN",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FwkItem": {
				"type": "array"
			},
			"PL_01TriggerTime": {
				"type": "string"
			},
			"FwkLogId": {
				"type": "string"
			},
			"EntRunId": {
				"type": "string"
			},
			"SrcPath": {
				"type": "string"
			},
			"SrcObject": {
				"type": "string"
			}
		},
		"folder": {
			"name": "BurtTest/TestIngestion"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-02T09:51:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}