pipeline/PL_DATA_DS_ODBC_tclaim_details_To_DS_SYN_tclaim_details_weekly.json
{
	"name": "PL_DATA_DS_ODBC_tclaim_details_To_DS_SYN_tclaim_details_weekly",
	"properties": {
		"activities": [
			{
				"name": "ACT_DATA_DS_ODBC_tclaim_det_To_DS_ADLS_tclaim_det",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_tclaim_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "Timestamp",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.edl_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.edl_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_DELETEFILE_ADLS_tclaim_details",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(adddays(utcnow(),-7),'yyyy')),'/',String(formatDateTime(adddays(utcnow(),-7),'MM')),'/',String(formatDateTime(adddays(utcnow(),-7),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(adddays(utcnow(),-7),'yyyy')),'_',String(formatDateTime(adddays(utcnow(),-7),'MM')),'_',String(formatDateTime(adddays(utcnow(),-7),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ACT_DATA_DS_ADLS_tclaim_det_To_DS_SYN_tclaim_det",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tclaim_details_weekly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "tclaim_details.new_zip_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NEW_ZIP_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.new_phon_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NEW_PHON_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.new_mobl_phon_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NEW_MOBL_PHON_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_dnr_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CLM_DNR_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tclaim_details.real_dnr_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "REAL_DNR_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tclaim_details.decline_reason",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DECLINE_REASON",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.pol_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "POL_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.cli_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLI_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_EFF_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_recv_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_RECV_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_stat_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_STAT_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_prvd_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CLM_PRVD_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_aprov_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CLM_APROV_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_aprov_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_APROV_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_pend_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_PEND_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_folwup_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_FOLWUP_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_rmrk",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_RMRK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.ex_gra_pmt",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "EX_GRA_PMT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_tracking_num",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CLM_TRACKING_NUM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_hosp_begin_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_HOSP_BEGIN_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_hosp_end_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_HOSP_END_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_medic_fee",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CLM_MEDIC_FEE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tclaim_details.cmd_num",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CMD_NUM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "tclaim_details.seq_num",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "SEQ_NUM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tclaim_details.event_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "EVENT_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.stat_chg_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "STAT_CHG_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_id",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.com_doc_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "COM_DOC_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.invest_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "INVEST_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.medi_exam_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "MEDI_EXAM_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.medi_restl_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "MEDI_RESTL_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.sub_comm_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "SUB_COMM_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_com_restl_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_COM_RESTL_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.sub_hk_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "SUB_HK_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.hk_restl_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "HK_RESTL_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.decision_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "DECISION_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.next_reopn_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "NEXT_REOPN_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.reass_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "REASS_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.close_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLOSE_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.print_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PRINT_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.print_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "PRINT_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.paid_up_to",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "PAID_UP_TO",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.payo_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PAYO_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.payo_arang",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PAYO_ARANG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.tpd_stat_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "TPD_STAT_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.tpd_close_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "TPD_CLOSE_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.payee_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PAYEE_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.plan_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.vers_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "VERS_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_app_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "CLM_APP_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.ex_aprov_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "EX_APROV_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.first_event_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "FIRST_EVENT_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_natr",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_NATR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_dec",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_DEC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.wav_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "WAV_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.med_rec_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "MED_REC_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.bnfy_comp_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "BNFY_COMP_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_reasn_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_REASN_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_reasn_remark",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_REASN_REMARK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_cal_formula",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_CAL_FORMULA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_suspicious",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_SUSPICIOUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.pos_num",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "POS_NUM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tclaim_details.decline_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DECLINE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.clm_amt_remark",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLM_AMT_REMARK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.payee_nm",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PAYEE_NM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.decline_act",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DECLINE_ACT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclaim_details.sbmt_date",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "SBMT_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclaim_details.new_clm_addr",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NEW_CLM_ADDR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Timestamp"
								},
								"sink": {
									"name": "Timestamp"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_EXEC_TRUNCATE_tclaim_details_weekly",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tclaim_det_To_DS_ADLS_tclaim_det",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table ', pipeline().parameters.synapse_sch_name,'.',pipeline().parameters.synapse_tbl_name,';','select 0 id;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY1_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tclaim_det_To_DS_ADLS_tclaim_det",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ODBC_tclaim_det_To_DS_ADLS_tclaim_det",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tclaim_det_To_DS_ADLS_tclaim_det').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tclaim_det_To_DS_ADLS_tclaim_det').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tclaim_det_To_DS_ADLS_tclaim_det').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY2_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ADLS_tclaim_det_To_DS_SYN_tclaim_det",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ADLS_tclaim_det_To_DS_SYN_tclaim_det",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tclaim_det_To_DS_SYN_tclaim_det').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tclaim_det_To_DS_SYN_tclaim_det').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tclaim_det_To_DS_SYN_tclaim_det').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_TRUNCATE_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tclaim_details_weekly",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_EXEC_TRUNCATE_tclaim_details_weekly",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tclaim_details_weekly').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Lookup",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tclaim_details_weekly').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tclaim_details_weekly').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_DELETION_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_tclaim_details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_DELETEFILE_ADLS_tclaim_details",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tclaim_details').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Delete",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tclaim_details').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tclaim_details').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_configsetting]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"edl_sch_name": {
				"type": "string",
				"defaultValue": "kh_dev_published_src_cas_db"
			},
			"edl_tbl_name": {
				"type": "string",
				"defaultValue": "tclaim_details"
			},
			"adlsg2_file_name": {
				"type": "string",
				"defaultValue": "tclaim_details"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "CAS"
			},
			"synapse_sch_name": {
				"type": "string",
				"defaultValue": "raw"
			},
			"synapse_tbl_name": {
				"type": "string",
				"defaultValue": "tclaim_details_weekly"
			},
			"load_frequency": {
				"type": "string",
				"defaultValue": "weekly"
			}
		},
		"folder": {
			"name": "E2E-Pipeline-Weekly-Load/CAS"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}