pipeline/PL_DATA_DS_ODBC_tcash_batch_details_To_DS_SYN_tcash_batch_details_monthly.json
{
	"name": "PL_DATA_DS_ODBC_tcash_batch_details_To_DS_SYN_tcash_batch_details_monthly",
	"properties": {
		"activities": [
			{
				"name": "ACT_DATA_DS_ODBC_tcash_details_To_DS_ADLS_tcash_details",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "Timestamp",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.edl_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.edl_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_DATA_DS_ADLS_tcash_details_To_DS_SYN_tcash_details",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tcash_batch_details_monthly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "tcash_batch_details.trxn_amt1",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "TRXN_AMT1",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.serial_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SERIAL_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.slip_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "SLIP_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.inrs_nm",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "INRS_NM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.prem_stat",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_STAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.receipt_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "RECEIPT_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.dnr_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DNR_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.outstan_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "OUTSTAN_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.rep_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "REP_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.own_pol_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "OWN_POL_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.cli_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLI_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.bank_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BANK_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.acct_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ACCT_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.card_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CARD_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.reasn_code1",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "REASN_CODE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.autopay_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "AUTOPAY_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.pd_to_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "PD_TO_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.rcpt_req_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "RCPT_REQ_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.trxn_id",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "TRXN_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.pymt_cnfm_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PYMT_CNFM_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.prod_cat",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PROD_CAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.wrt_off_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "WRT_OFF_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.btch_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BTCH_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.btch_role",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BTCH_ROLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.pol_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "POL_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.cbd_num",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CBD_NUM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "EFF_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.trxn_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "TRXN_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.trxn_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "TRXN_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.reasn_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "REASN_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.trxn_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "TRXN_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.remarks",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "REMARKS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.btch_dtl_stat_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BTCH_DTL_STAT_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.result_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RESULT_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tcash_batch_details.rep_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "REP_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Timestamp"
								},
								"sink": {
									"name": "Timestamp"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_EXEC_TRUNCATE_tcash_batch_details_monthly",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tcash_details_To_DS_ADLS_tcash_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table ', pipeline().parameters.synapse_sch_name,'.',pipeline().parameters.synapse_tbl_name,';','select 0 id;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY1_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tcash_details_To_DS_ADLS_tcash_details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ODBC_tcash_details_To_DS_ADLS_tcash_details",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tcash_details_To_DS_ADLS_tcash_details').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tcash_details_To_DS_ADLS_tcash_details').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tcash_details_To_DS_ADLS_tcash_details').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY2_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ADLS_tcash_details_To_DS_SYN_tcash_details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ADLS_tcash_details_To_DS_SYN_tcash_details",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tcash_details_To_DS_SYN_tcash_details').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tcash_details_To_DS_SYN_tcash_details').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tcash_details_To_DS_SYN_tcash_details').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_TRUNCATE_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tcash_batch_details_monthly",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_EXEC_TRUNCATE_tcash_batch_details_monthly",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tcash_batch_details_monthly').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Lookup",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tcash_batch_details_monthly').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tcash_batch_details_monthly').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_configsetting]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"edl_sch_name": {
				"type": "string",
				"defaultValue": "kh_dev_published_src_cas_db"
			},
			"edl_tbl_name": {
				"type": "string",
				"defaultValue": "tcash_batch_details"
			},
			"adlsg2_file_name": {
				"type": "string",
				"defaultValue": "tcash_batch_details"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "CAS"
			},
			"synapse_sch_name": {
				"type": "string",
				"defaultValue": "raw"
			},
			"synapse_tbl_name": {
				"type": "string",
				"defaultValue": "tcash_batch_details_monthly"
			},
			"load_frequency": {
				"type": "string",
				"defaultValue": "monthly"
			}
		},
		"folder": {
			"name": "E2E-Pipeline-Monthly-Load/CAS"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}