pipeline/PL_DATA_DS_ODBC_tclient_details_To_DS_SYN_tclient_details_monthly.json
{
	"name": "PL_DATA_DS_ODBC_tclient_details_To_DS_SYN_tclient_details_monthly",
	"properties": {
		"activities": [
			{
				"name": "ACT_DATA_DS_ODBC_tclient_addr_To_DS_ADLS_tclient_addr",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "Timestamp",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.edl_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.edl_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_DATA_DS_ADLS_tclient_addr_To_DS_SYN_tclient_addr",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tclient_details_monthly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "tclient_details.cli_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLI_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.email_address",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.res_addr_typ",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "RES_ADDR_TYP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tclient_details.prim_phon_country_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PRIM_PHON_COUNTRY_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.othr_phon_country_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "OTHR_PHON_COUNTRY_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.mobile_country_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MOBILE_COUNTRY_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.fax_country_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "FAX_COUNTRY_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.birth_country_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BIRTH_COUNTRY_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.cli_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLI_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.terr_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "TERR_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.state_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "STATE_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.cli_nm",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLI_NM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.smkr_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SMKR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.addr_typ",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "ADDR_TYP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tclient_details.birth_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "BIRTH_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclient_details.fax_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "FAX_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.id_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ID_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.othr_phon_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "OTHR_PHON_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.prim_phon_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PRIM_PHON_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.cli_rmrk",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLI_RMRK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.sex_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SEX_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.cli_cnsldt_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CLI_CNSLDT_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.id_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ID_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.occp_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "OCCP_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.offce_addr_typ",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "OFFCE_ADDR_TYP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tclient_details.bill_addr_typ",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "BILL_ADDR_TYP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tclient_details.reg_addr_typ",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "REG_ADDR_TYP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tclient_details.soldier_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SOLDIER_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.id_iss_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "ID_ISS_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tclient_details.id_iss_plc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ID_ISS_PLC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.mobl_phon_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MOBL_PHON_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.prim_area_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PRIM_AREA_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.invalid_phone_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "INVALID_PHONE_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.mobile_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MOBILE_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tclient_details.nationality",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NATIONALITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Timestamp"
								},
								"sink": {
									"name": "Timestamp"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_EXEC_TRUNCATE_tclient_details_monthly",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tclient_addr_To_DS_ADLS_tclient_addr",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table ', pipeline().parameters.synapse_sch_name,'.',pipeline().parameters.synapse_tbl_name,';','select 0 id;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY1_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tclient_addr_To_DS_ADLS_tclient_addr",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ODBC_tclient_addr_To_DS_ADLS_tclient_addr",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tclient_addr_To_DS_ADLS_tclient_addr').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tclient_addr_To_DS_ADLS_tclient_addr').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tclient_addr_To_DS_ADLS_tclient_addr').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY2_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ADLS_tclient_addr_To_DS_SYN_tclient_addr",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ADLS_tclient_addr_To_DS_SYN_tclient_addr",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tclient_addr_To_DS_SYN_tclient_addr').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tclient_addr_To_DS_SYN_tclient_addr').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tclient_addr_To_DS_SYN_tclient_addr').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_TRUNCATE_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tclient_details_monthly",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_EXEC_TRUNCATE_tclient_details_monthly",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tclient_details_monthly').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Lookup",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tclient_details_monthly').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tclient_details_monthly').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_configsetting]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"edl_sch_name": {
				"type": "string",
				"defaultValue": "kh_dev_published_src_cas_db"
			},
			"edl_tbl_name": {
				"type": "string",
				"defaultValue": "tclient_details"
			},
			"adlsg2_file_name": {
				"type": "string",
				"defaultValue": "tclient_details"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "CAS"
			},
			"synapse_sch_name": {
				"type": "string",
				"defaultValue": "raw"
			},
			"synapse_tbl_name": {
				"type": "string",
				"defaultValue": "tclient_details_monthly"
			},
			"load_frequency": {
				"type": "string",
				"defaultValue": "monthly"
			}
		},
		"folder": {
			"name": "E2E-Pipeline-Monthly-Load/CAS"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}