pipeline/PL_DATA_DS_ODBC_plan_needs_mapping_To_DS_SYN_plan_needs_mapping_manual.json
{
	"name": "PL_DATA_DS_ODBC_plan_needs_mapping_To_DS_SYN_plan_needs_mapping_manual",
	"properties": {
		"activities": [
			{
				"name": "ACT_DATA_DS_ODBC_planneedmap_To_DS_ADLS_planneedmap",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_plan_needs_mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "Timestamp",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.edl_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.edl_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_DELETEFILE_ADLS_plan_needs_mapping",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(adddays(utcnow(),-7),'yyyy')),'/',String(formatDateTime(adddays(utcnow(),-7),'MM')),'/',String(formatDateTime(adddays(utcnow(),-7),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(adddays(utcnow(),-7),'yyyy')),'_',String(formatDateTime(adddays(utcnow(),-7),'MM')),'_',String(formatDateTime(adddays(utcnow(),-7),'dd')))",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ACT_DATA_DS_ADLS_planneedmap_To_DS_SYN_planneedmap",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_plan_needs_mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "plan_needs_mapping.effective_date",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "effective_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.effective_qtr",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "effective_qtr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.product_nm",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "product_nm",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.plan_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "plan_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.cvg_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "cvg_typ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.product_name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "product_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.product",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.benefit_type",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "benefit_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.customer_needs",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "customer_needs",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.par_np_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "par_np_ind",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.external_lob",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "external_lob",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.lob",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "lob",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.nbv_margin_agency",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "nbv_margin_agency",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 12
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.nbv_margin_banca_other_banks",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "nbv_margin_banca_other_banks",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 12
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.nbv_margin_banca_aba",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "nbv_margin_banca_aba",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 12
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.nbv_margin_banca_spn",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "nbv_margin_banca_spn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 12
								}
							},
							{
								"source": {
									"name": "plan_needs_mapping.nbv_margin_direct",
									"type": "Double",
									"physicalType": "DOUBLE"
								},
								"sink": {
									"name": "nbv_margin_direct",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 12
								}
							},
							{
								"source": {
									"name": "Timestamp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Timestamp"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_EXEC_TRUNCATE_plan_needs_mapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_planneedmap_To_DS_ADLS_planneedmap",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table ', pipeline().parameters.synapse_sch_name,'.',pipeline().parameters.synapse_tbl_name,';','select 0 id;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY1_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_planneedmap_To_DS_ADLS_planneedmap",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ODBC_planneedmap_To_DS_ADLS_planneedmap",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_planneedmap_To_DS_ADLS_planneedmap').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_planneedmap_To_DS_ADLS_planneedmap').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_planneedmap_To_DS_ADLS_planneedmap').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY2_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ADLS_planneedmap_To_DS_SYN_planneedmap",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ADLS_planneedmap_To_DS_SYN_planneedmap",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_planneedmap_To_DS_SYN_planneedmap').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_planneedmap_To_DS_SYN_planneedmap').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_planneedmap_To_DS_SYN_planneedmap').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_TRUNCATE_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_plan_needs_mapping",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_EXEC_TRUNCATE_plan_needs_mapping",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_plan_needs_mapping').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Lookup",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_plan_needs_mapping').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_plan_needs_mapping').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_DELETION_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_plan_needs_mapping",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_DELETEFILE_ADLS_plan_needs_mapping",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_plan_needs_mapping').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Delete",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_plan_needs_mapping').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_plan_needs_mapping').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_configsetting]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"edl_sch_name": {
				"type": "string",
				"defaultValue": "kh_dev_published_src_cas_db"
			},
			"edl_tbl_name": {
				"type": "string",
				"defaultValue": "plan_needs_mapping"
			},
			"adlsg2_file_name": {
				"type": "string",
				"defaultValue": "plan_needs_mapping"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "CAS"
			},
			"synapse_sch_name": {
				"type": "string",
				"defaultValue": "raw"
			},
			"synapse_tbl_name": {
				"type": "string",
				"defaultValue": "plan_needs_mapping"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}