pipeline/PL_DATA_DS_ODBC_tams_dist_chnl_To_DS_SYN_tams_dist_chnl_weekly.json
{
	"name": "PL_DATA_DS_ODBC_tams_dist_chnl_To_DS_SYN_tams_dist_chnl_weekly",
	"properties": {
		"activities": [
			{
				"name": "ACT_DATA_DS_ODBC_dist_chnl_To_DS_ADLS_dist_chnl",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_tams_dist_chnl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "Timestamp",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.edl_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.edl_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_DELETEFILE_ADLS_tams_dist_chnl",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(adddays(utcnow(),-7),'yyyy')),'/',String(formatDateTime(adddays(utcnow(),-7),'MM')),'/',String(formatDateTime(adddays(utcnow(),-7),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(adddays(utcnow(),-7),'yyyy')),'_',String(formatDateTime(adddays(utcnow(),-7),'MM')),'_',String(formatDateTime(adddays(utcnow(),-7),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ACT_DATA_DS_ADLS_dist_chnl_To_DS_SYN_dist_chnl",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tams_dist_chnl_weekly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "tams_dist_chnl.dist_chnl_desc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "dist_chnl_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_dist_chnl.wrk_area",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "wrk_area",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_dist_chnl.dist_chnl_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "dist_chnl_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Timestamp"
								},
								"sink": {
									"name": "Timestamp"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_EXEC_TRUNCATE_tams_dist_chnl_weekly",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_dist_chnl_To_DS_ADLS_dist_chnl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table ', pipeline().parameters.synapse_sch_name,'.',pipeline().parameters.synapse_tbl_name,';','select 0 id;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY1_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_dist_chnl_To_DS_ADLS_dist_chnl",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ODBC_dist_chnl_To_DS_ADLS_dist_chnl",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_dist_chnl_To_DS_ADLS_dist_chnl').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_dist_chnl_To_DS_ADLS_dist_chnl').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_dist_chnl_To_DS_ADLS_dist_chnl').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY2_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ADLS_dist_chnl_To_DS_SYN_dist_chnl",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ADLS_dist_chnl_To_DS_SYN_dist_chnl",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_dist_chnl_To_DS_SYN_dist_chnl').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_dist_chnl_To_DS_SYN_dist_chnl').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_dist_chnl_To_DS_SYN_dist_chnl').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_TRUNCATE_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tams_dist_chnl_weekly",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_EXEC_TRUNCATE_tams_dist_chnl_weekly",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tams_dist_chnl_weekly').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Lookup",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tams_dist_chnl_weekly').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tams_dist_chnl_weekly').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_DELETION_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_tams_dist_chnl",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_DELETEFILE_ADLS_tams_dist_chnl",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tams_dist_chnl').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Delete",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tams_dist_chnl').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tams_dist_chnl').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_configsetting]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"edl_sch_name": {
				"type": "string",
				"defaultValue": "kh_dev_published_src_ams_db"
			},
			"edl_tbl_name": {
				"type": "string",
				"defaultValue": "tams_dist_chnl"
			},
			"adlsg2_file_name": {
				"type": "string",
				"defaultValue": "tams_dist_chnl"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "AMS"
			},
			"synapse_sch_name": {
				"type": "string",
				"defaultValue": "raw"
			},
			"synapse_tbl_name": {
				"type": "string",
				"defaultValue": "tams_dist_chnl_weekly"
			},
			"load_frequency": {
				"type": "string",
				"defaultValue": "weekly"
			}
		},
		"folder": {
			"name": "E2E-Pipeline-Weekly-Load/AMS"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}