pipeline/PL_DATA_DS_ODBC_tams_agents_To_DS_SYN_tams_agents_weekly.json
{
	"name": "PL_DATA_DS_ODBC_tams_agents_To_DS_SYN_tams_agents_weekly",
	"properties": {
		"activities": [
			{
				"name": "ACT_DATA_DS_ODBC_tams_agents_To_DS_ADLS_tams_agents",
				"description": "",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_tams_agents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "Timestamp",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.edl_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.edl_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_DELETEFILE_ADLS_tams_agents",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(adddays(utcnow(),-7),'yyyy')),'/',String(formatDateTime(adddays(utcnow(),-7),'MM')),'/',String(formatDateTime(adddays(utcnow(),-7),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ACT_DATA_DS_ADLS_tams_agents_To_DS_SYN_tams_agents",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tams_agents_weekly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "tams_agents.mobl_phon_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "mobl_phon_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.grp_prd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "grp_prd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_sup_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "agt_sup_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.bck_to_agt_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "bck_to_agt_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_sup_cnt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "agt_sup_cnt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "tams_agents.sub_loc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "sub_loc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.trainee_to_agt_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "trainee_to_agt_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.itc_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "itc_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "agt_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.can_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "can_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_nm",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "agt_nm",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.comp_prvd_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "comp_prvd_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.addr_typ",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "addr_typ",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tams_agents.bank_ac_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "bank_ac_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.bank_ac_nm",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "bank_ac_nm",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.rpt_to_grp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "rpt_to_grp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.rpt_to_grp_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "rpt_to_grp_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.mailbox_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "mailbox_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.recrut_by",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "recrut_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.recrut_bns_to",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "recrut_bns_to",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.loc_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "loc_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.rank_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "rank_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.rank_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "rank_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.lst_prom_evl_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "lst_prom_evl_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.lst_demo_evl_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "lst_demo_evl_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.nxt_prom_evl_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "nxt_prom_evl_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.nxt_demo_evl_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "nxt_demo_evl_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.con_evl_fail_cnt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "con_evl_fail_cnt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tams_agents.stat_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "stat_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_stat_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "agt_stat_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.cntrct_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "cntrct_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.trmn_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "trmn_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.clb_mbr_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "clb_mbr_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.pmt_mthd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "pmt_mthd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.trmn_hld_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "trmn_hld_ind",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.pay_slp_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "pay_slp_ind",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.tax_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "tax_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "agt_typ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.pend_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "pend_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.pend_flwup_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "pend_flwup_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.lst_rpt_to_grp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "lst_rpt_to_grp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.br_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.cntrct_sign_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "cntrct_sign_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.trmn_reasn",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "trmn_reasn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.lic_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "lic_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.bus_phone",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "bus_phone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.team_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "team_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.train_days",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "train_days",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tams_agents.tax_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "tax_typ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.rcpt_grp_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "rcpt_grp_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.typ_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "typ_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.mgr_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "mgr_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.terr_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "terr_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.cat_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "cat_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.grp_prof_eff_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "grp_prof_eff_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.uwg_lvl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "uwg_lvl",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_sup",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "agt_sup",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_rmk",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "agt_rmk",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.prom_clas_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "prom_clas_typ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.prom_clas_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "prom_clas_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.bank_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "bank_cd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.class_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "class_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.course_allw",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "course_allw",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "tams_agents.unit_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "unit_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_addr",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "agt_addr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_join_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "agt_join_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.agt_term_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "agt_term_dt",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "tams_agents.zip_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "zip_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tams_agents.dtk_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "dtk_ind",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Timestamp"
								},
								"sink": {
									"name": "Timestamp"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_EXEC_TRUNCATE_tams_agents_weekly",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tams_agents_To_DS_ADLS_tams_agents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table ', pipeline().parameters.synapse_sch_name,'.',pipeline().parameters.synapse_tbl_name,';','select 0 id;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": "sch_name",
							"tbl_name": "tbl_name"
						}
					}
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY1_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tams_agents_To_DS_ADLS_tams_agents",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ODBC_tams_agents_To_DS_ADLS_tams_agents",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tams_agents_To_DS_ADLS_tams_agents').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tams_agents_To_DS_ADLS_tams_agents').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tams_agents_To_DS_ADLS_tams_agents').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY2_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ADLS_tams_agents_To_DS_SYN_tams_agents",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ADLS_tams_agents_To_DS_SYN_tams_agents",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tams_agents_To_DS_SYN_tams_agents').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tams_agents_To_DS_SYN_tams_agents').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tams_agents_To_DS_SYN_tams_agents').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_TRUNCATE_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tams_agents_weekly",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_EXEC_TRUNCATE_tams_agents_weekly",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tams_agents_weekly').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Lookup",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tams_agents_weekly').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tams_agents_weekly').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_DELETION_ERROR_LOG",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_DELETEFILE_ADLS_tams_agents",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_DELETEFILE_ADLS_tams_agents",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tams_agents').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Delete",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tams_agents').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_DELETEFILE_ADLS_tams_agents').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_configsetting]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": "sch_name",
							"tbl_name": "tbl_name"
						}
					}
				}
			}
		],
		"parameters": {
			"edl_sch_name": {
				"type": "string",
				"defaultValue": "kh_dev_published_src_ams_db"
			},
			"edl_tbl_name": {
				"type": "string",
				"defaultValue": "tams_agents"
			},
			"adlsg2_file_name": {
				"type": "string",
				"defaultValue": "tams_agents"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "AMS"
			},
			"synapse_sch_name": {
				"type": "string",
				"defaultValue": "raw"
			},
			"synapse_tbl_name": {
				"type": "string",
				"defaultValue": "tams_agents_weekly"
			},
			"load_frequency": {
				"type": "string",
				"defaultValue": "weekly"
			}
		},
		"folder": {
			"name": "E2E-Pipeline-Weekly-Load/AMS"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}