pipeline/PL_DATA_DS_ODBC_tplans_To_DS_SYN_tplans_monthly.json
{
	"name": "PL_DATA_DS_ODBC_tplans_To_DS_SYN_tplans_monthly",
	"properties": {
		"activities": [
			{
				"name": "ACT_DATA_DS_ODBC_tplans_To_DS_ADLS_tplans",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"additionalColumns": [
							{
								"name": "Timestamp",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.edl_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.edl_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_DATA_DS_ADLS_tplans_To_DS_SYN_tplans",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tplans_monthly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "tplans.terr_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "TERR_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.sec_age_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SEC_AGE_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.ma_fa_rt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MA_FA_RT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "tplans.ret_prem_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RET_PREM_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.pkg_plan_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PKG_PLAN_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.age_calc_rule",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "AGE_CALC_RULE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.cb_pct_1st",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CB_PCT_1ST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.cb_pct_2nd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CB_PCT_2ND",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.cv_payo_mth",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CV_PAYO_MTH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.crcy_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CRCY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.maturity_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MATURITY_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mode_fct_mo_auto",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MODE_FCT_MO_AUTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_int_rt",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_INT_RT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.pua_payo_mth",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "PUA_PAYO_MTH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.tb_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "TB_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.dth_bnft_pct_y",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "DTH_BNFT_PCT_Y",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tplans.dth_bnft_ref_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "DTH_BNFT_REF_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tplans.plan_native_desc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_NATIVE_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.fnd_deal_mthd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "FND_DEAL_MTHD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.fa_rnd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "FA_RND",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "tplans.min_psu_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MIN_PSU_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.max_psu_pct",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MAX_PSU_PCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "tplans.min_loan_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MIN_LOAN_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.rpt_layout_mthd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RPT_LAYOUT_MTHD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.band_chg_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BAND_CHG_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.build_in_np",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BUILD_IN_NP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.surr_ind_1st",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SURR_IND_1ST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.rpu_endow_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RPU_ENDOW_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.bns_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BNS_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.surr_fnd_opt",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SURR_FND_OPT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.min_tro_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MIN_TRO_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tplans.min_topup_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MIN_TOPUP_AMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tplans.fnd_lay_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "FND_LAY_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.rider_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RIDER_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.ph_opt",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PH_OPT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.bpp_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BPP_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.ipo_max_fa",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "IPO_MAX_FA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tplans.off_incep_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "OFF_INCEP_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prod_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PROD_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.vp_dflt",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "VP_DFLT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_age",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_AGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.cntrct_pg_int_rt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CNTRCT_PG_INT_RT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.md_key",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MD_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.div_fct_k1",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "DIV_FCT_K1",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.div_fct_k2",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "DIV_FCT_K2",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.div_fct_k3",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "DIV_FCT_K3",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.ipo_max_fa_me",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "IPO_MAX_FA_ME",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "tplans.plan_avail_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_AVAIL_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.ipo_avail_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "IPO_AVAIL_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.cmp_page2_frmt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CMP_PAGE2_FRMT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tplans.anty_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ANTY_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.anty_freq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "ANTY_FREQ",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 2
								}
							},
							{
								"source": {
									"name": "tplans.no_grp_dscnt_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NO_GRP_DSCNT_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.sell_as_rdr_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SELL_AS_RDR_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.rst_prem_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RST_PREM_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.lump_sum_int_rt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "LUMP_SUM_INT_RT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.band_like_base_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BAND_LIKE_BASE_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.band_prem_prd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "BAND_PREM_PRD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.eti_factor",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "ETI_FACTOR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "tplans.fmly_cvg_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "FMLY_CVG_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.ipo_pct",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "IPO_PCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "tplans.ipo_trmn_age",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "IPO_TRMN_AGE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.ipo_trmn_yr",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "IPO_TRMN_YR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.prem_age_basis",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_AGE_BASIS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_sex",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_SEX",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_band",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_BAND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_clas",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_CLAS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_smkr",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_SMKR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_occp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_OCCP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.pc_fct_ann",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "PC_FCT_ANN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.pc_fct_semi",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "PC_FCT_SEMI",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.pc_fct_qtr",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "PC_FCT_QTR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.pc_fct_mo",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "PC_FCT_MO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.eff_to_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "EFF_TO_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tplans.mkt_plan_nm",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MKT_PLAN_NM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_ppp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_PPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.ppp_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PPP_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.wp_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "WP_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.rpu_par_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RPU_PAR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.eti_par_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ETI_PAR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.eti_endow_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ETI_ENDOW_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_dist_chnl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_DIST_CHNL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_dur",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_DUR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_sec_sex",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_SEC_SEX",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.invst_prd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "INVST_PRD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.ep_cap",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "EP_CAP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.min_nar",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MIN_NAR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tplans.fnd_surr_rule",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "FND_SURR_RULE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.recurr_bill_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RECURR_BILL_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.recurr_rsp_mo",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "RECURR_RSP_MO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.recurr_rsp_qtr",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "RECURR_RSP_QTR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.recurr_rsp_semi",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "RECURR_RSP_SEMI",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.recurr_rsp_yr",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "RECURR_RSP_YR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.ep_pc_fct",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "EP_PC_FCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.realloc_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "REALLOC_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.surr_prem_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SURR_PREM_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prod_cat",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PROD_CAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_app_mthd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_APP_MTHD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.init_chrg_rt_3rd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "INIT_CHRG_RT_3RD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.min_trxn_unit",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MIN_TRXN_UNIT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.min_fnd_bal",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MIN_FND_BAL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 11
								}
							},
							{
								"source": {
									"name": "tplans.payroll_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PAYROLL_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.sales_lvl",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "SALES_LVL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 12
								}
							},
							{
								"source": {
									"name": "tplans.pc_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PC_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.bns_fct",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "BNS_FCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.surr_pv_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SURR_PV_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_no_of_insrd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_NO_OF_INSRD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.corridor_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CORRIDOR_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.corridor_pct",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "CORRIDOR_PCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.arrear_calc_mthd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ARREAR_CALC_MTHD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_crcy",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_CRCY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.db_adjust",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DB_ADJUST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.add_rt_factor_cp",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "ADD_RT_FACTOR_CP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tplans.add_rt_factor_asp",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "ADD_RT_FACTOR_ASP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 13
								}
							},
							{
								"source": {
									"name": "tplans.xces_prem_mpre_factor",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "XCES_PREM_MPRE_FACTOR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.prem_calc_mthd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_CALC_MTHD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mode_fct_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MODE_FCT_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.no_lapse_gurt_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NO_LAPSE_GURT_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.cvg_reasn",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CVG_REASN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.init_chrg_rt_1st",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "INIT_CHRG_RT_1ST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.init_chrg_rt_2nd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "INIT_CHRG_RT_2ND",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.load_rt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "LOAD_RT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.smc_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SMC_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.dth_bnft_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DTH_BNFT_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.sngl_prem_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SNGL_PREM_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.div_dflt",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DIV_DFLT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.db_by_bpp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DB_BY_BPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.db_by_dth_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DB_BY_DTH_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.nsp_by_ppp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NSP_BY_PPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.nsp_by_bpp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NSP_BY_BPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.nsp_by_band",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NSP_BY_BAND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.pv_by_ppp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PV_BY_PPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.pv_by_bpp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PV_BY_BPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.pv_by_band",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PV_BY_BAND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.pv_by_sec_age",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PV_BY_SEC_AGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.dv_by_ppp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DV_BY_PPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.dv_by_bpp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DV_BY_BPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.plan_shrt_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_SHRT_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.display_cat",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DISPLAY_CAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_rcc_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_RCC_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.dth_bnft_pct_x",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "DTH_BNFT_PCT_X",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tplans.ph_avail_mth",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "PH_AVAIL_MTH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.rst_mthd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RST_MTHD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.loyal_bns",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "LOYAL_BNS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.plan_occp_clas",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_OCCP_CLAS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.db_by_ppp",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "DB_BY_PPP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.plan_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.vers_num",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "VERS_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.loan_int_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "LOAN_INT_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.loan_dflt_int",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "LOAN_DFLT_INT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.loan_max_pct",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "LOAN_MAX_PCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "tplans.mli_prem_prd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MLI_PREM_PRD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.mli_bnft_prd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MLI_BNFT_PRD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.mli_ln_bus",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MLI_LN_BUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.par_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PAR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.assum_int_rt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "ASSUM_INT_RT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 7
								}
							},
							{
								"source": {
									"name": "tplans.comm_by_age",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "COMM_BY_AGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.comm_by_band",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "COMM_BY_BAND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.comm_by_crcy",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "COMM_BY_CRCY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.comm_by_dur",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "COMM_BY_DUR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.comm_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "COMM_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mli_fnd_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MLI_FND_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mli_mnl_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MLI_MNL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.plan_lng_desc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_LNG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.plan_shrt_desc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PLAN_SHRT_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mli_plan_type",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MLI_PLAN_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mli_sub_type",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MLI_SUB_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.ins_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "INS_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mult_base_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "MULT_BASE_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.mode_fct_mo",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MODE_FCT_MO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tplans.mode_fct_semi",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MODE_FCT_SEMI",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tplans.mode_fct_qtr",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "MODE_FCT_QTR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "tplans.nfo_dflt",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NFO_DFLT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.nfo_apl_cd",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NFO_APL_CD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.nfo_rpu_ok",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NFO_RPU_OK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.nfo_eti_ok",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "NFO_ETI_OK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.renw_prd",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "RENW_PRD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "tplans.renw_cntct_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "RENW_CNTCT_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.spec_fcn_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SPEC_FCN_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.cv_avail_ind",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CV_AVAIL_IND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.cvg_typ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "CVG_TYP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.dscnt_cv_rt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "DSCNT_CV_RT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 5
								}
							},
							{
								"source": {
									"name": "tplans.sex_excl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SEX_EXCL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.comm_by_dc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "COMM_BY_DC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.prem_by_total_base_fa",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "PREM_BY_TOTAL_BASE_FA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tplans.eff_fr_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "EFF_FR_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "tplans.endow_ctl",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ENDOW_CTL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Timestamp"
								},
								"sink": {
									"name": "Timestamp"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_container",
								"type": "Expression"
							},
							"dir_name": {
								"value": "@concat(toLower(activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.env),activity('ACT_CUSTOM_EXEC_GET_CONFIG_SETTING').output.firstRow.config_value,pipeline().parameters.system_name,'/',pipeline().parameters.adlsg2_file_name,'/',String(formatDateTime(utcnow(),'yyyy')),'/',String(formatDateTime(utcnow(),'MM')),'/',String(formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.system_name,'_',pipeline().parameters.adlsg2_file_name,'_',String(formatDateTime(utcnow(),'yyyy')),'_',String(formatDateTime(utcnow(),'MM')),'_',String(formatDateTime(utcnow(),'dd')),'_',pipeline().parameters.load_frequency)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_CUSTOM_EXEC_TRUNCATE_tplans_monthly",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tplans_To_DS_ADLS_tplans",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('truncate table ', pipeline().parameters.synapse_sch_name,'.',pipeline().parameters.synapse_tbl_name,';','select 0 id;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY1_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ODBC_tplans_To_DS_ADLS_tplans",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ODBC_tplans_To_DS_ADLS_tplans",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tplans_To_DS_ADLS_tplans').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tplans_To_DS_ADLS_tplans').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ODBC_tplans_To_DS_ADLS_tplans').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_COPY2_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_DATA_DS_ADLS_tplans_To_DS_SYN_tplans",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_DATA_DS_ADLS_tplans_To_DS_SYN_tplans",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tplans_To_DS_SYN_tplans').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Copy data",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tplans_To_DS_SYN_tplans').output.errors[0].Code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_DATA_DS_ADLS_tplans_To_DS_SYN_tplans').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_TRUNCATE_ERROR_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_EXEC_TRUNCATE_tplans_monthly",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "ACT_CUSTOM_EXEC_TRUNCATE_tplans_monthly",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tplans_monthly').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Lookup",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tplans_monthly').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_EXEC_TRUNCATE_tplans_monthly').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_EXEC_GET_CONFIG_SETTING",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[config].[sp_get_configsetting]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SYN",
						"type": "DatasetReference",
						"parameters": {
							"sch_name": {
								"value": "@pipeline().parameters.synapse_sch_name",
								"type": "Expression"
							},
							"tbl_name": {
								"value": "@pipeline().parameters.synapse_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"edl_sch_name": {
				"type": "string",
				"defaultValue": "kh_dev_published_src_cas_db"
			},
			"edl_tbl_name": {
				"type": "string",
				"defaultValue": "tplans"
			},
			"adlsg2_file_name": {
				"type": "string",
				"defaultValue": "tplans"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "CAS"
			},
			"synapse_sch_name": {
				"type": "string",
				"defaultValue": "raw"
			},
			"synapse_tbl_name": {
				"type": "string",
				"defaultValue": "tplans_monthly"
			},
			"load_frequency": {
				"type": "string",
				"defaultValue": "monthly"
			}
		},
		"folder": {
			"name": "E2E-Pipeline-Monthly-Load/CAS"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}