pipeline/PL_EXEC_WEEKLY_LOAD.json
{
	"name": "PL_EXEC_WEEKLY_LOAD",
	"properties": {
		"activities": [
			{
				"name": "PL_DATA_ODBC_To_SYN_WEEKLY_LOAD",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_DATA_ODBC_To_SYN_WEEKLY_LOAD",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PL_TRAN_SPRC_WEEKLY_LOAD",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_DATA_ODBC_To_SYN_WEEKLY_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_TRAN_SPRC_WEEKLY_LOAD",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_dataquality_LOG",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PL_TRAN_SPRC_WEEKLY_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[sp_dataquality_log_weekly]"
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CUSTOM_SPRC_dataquality_LOG_ERROR_LOG",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CUSTOM_SPRC_dataquality_LOG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[error].[SP_InsertErrorLog]",
					"storedProcedureParameters": {
						"Activity_Name": {
							"value": "dataquality_log_weekly",
							"type": "String"
						},
						"ActivityRunId": {
							"value": {
								"value": "@activity('ACT_CUSTOM_SPRC_dataquality_LOG').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityType": {
							"value": "Stored procedure",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('ACT_CUSTOM_SPRC_dataquality_LOG').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ACT_CUSTOM_SPRC_dataquality_LOG').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "E2E-Pipeline-Weekly-Load"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-26T09:08:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}